.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero img:after {
  content: '';
  background: linear-gradient(to top, rgb(18 18 18), rgb(143 148 149));
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(to top, rgb(18 18 18), rgb(143 148 149));
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 28px;
  line-height: 1.23;
  margin-bottom: 24px;
  color: #D5BFB7;
}

.hero p {
  font-size: 16px;
  margin-bottom: 2rem;
  color: #ABACAC;
}

.button {
  padding: 1rem 2rem;
  background-color: #D5BFB7;
  color: #1C100B;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px #D5BFB7;
  color: white;
}

.centered {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачная темная маска */
  z-index: 1;
}

.highlight {
  box-shadow: 0 0 25px lightgray;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}

.highlight h2 {
  margin-top: 0;
}

.author {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .highlight {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

.photoContainer {
  width: 50%;
}

.plans {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  margin: 32px 0;
}

.plan {
  width: 50%;
  border: 1px solid #7B655B;
  padding: 10px 20px;
}

.plan h2 {
  margin-top: 0;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #222;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 15px;
}

.icon {
  display: inline-block;
}

.legal-links {
  display: flex;
  flex-direction: column;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.contact-info {
  text-align: right;
}


/* Адаптивность для десктопа */
@media (min-width: 768px) {
  .courseDetails {
    padding: 5rem 2rem;
  }

  .courseDetails h2 {
    font-size: 2.5rem;
  }

  .courseDetails p {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .hero {
    position: relative;
  }

  .button {
    max-width: max-content;
  }

  .imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Изображение под контентом */
  }

  .content {
    transformY: translate(-50%);
    top: 50%;
    left: 60px;
    max-width: 720px;
    position: absolute;
    z-index: 1;
    padding: 2rem 1rem;
    background: transparent;
    text-align: left;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ABACAC;
  }
}


