.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(to top, rgb(18 18 18), rgb(143 148 149));
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 28px;
  line-height: 1.23;
  margin-bottom: 24px;
  color: #D5BFB7;
}

.hero p {
  font-size: 16px;
  margin-bottom: 2rem;
  color: #ABACAC;
}

.button {
  padding: 1rem 2rem;
  background-color: #7B655B;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px #7B655B;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачная темная маска */
  z-index: 1;
}

/* CourseDetails.module.css */
.courseDetails {
  padding: 3rem 1rem;
  background-color: var(--background); /* Светлый фон для контраста */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.courseDetails h2 {
  color: var(--text);
  margin-bottom: 1rem;
}

.courseDetails p {
  color: #D5BFB7;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.benefits li {

}

.button {
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

/* Адаптивность для десктопа */
@media (min-width: 768px) {
  .courseDetails {
    padding: 5rem 2rem;
  }

  .courseDetails h2 {
    font-size: 2.5rem;
  }

  .courseDetails p {
    font-size: 1.3rem;
  }

  .benefits li {
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }
}

@media (min-width: 768px) {
  .hero {
    position: relative;
  }

  .imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Изображение под контентом */
  }

  .content {
    transformY: translate(-50%);
    top: 50%;
    left: 60px;
    max-width: 720px;
    position: absolute;
    z-index: 1;
    padding: 2rem 1rem;
    background: transparent;
    text-align: left;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ABACAC;
  }
}


